<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Касса №1 Формы</title>
    <link href="formStyles.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="Forms.js"></script>

</head>
<body>
    <h2>Заполнение шаблона документа</h2>

    <input class="form-lastname" type="text" placeholder="Фамилия" />
    <input class="form-firstname" type="text" placeholder="Имя" />
    <input class="form-middlename" type="text" placeholder="Отчество" />
    <input class="form-birthdate" type="date" placeholder="Дата рождения" /> <br>
    <input class="form-loansum" type="number" placeholder="Сумма займа" /> <br>

    <select class="form-templatename">
        <option value="templ1" selected>Договор займа</option>
        <option value="templ2">Заявление на отсрочку</option>
        <option value="templ3">Заявление на досрочное погашение</option>
    </select> <br>

    <select class="form-foldername">
        <option value="templ1" selected>Общая папка</option>
        <option value="templ2">Хорошие клиенты</option>
        <option value="templ3">Лучшие клиенты</option>
        <option value="templ3">Не лучшие клиенты</option>
    </select> <br>

    <button>Отправить</button>
</body>
</html>