
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>


<body>
    <h2>Заполнение шаблона документа</h2>
    <div class="namesblock">
        <b>Фамилия: </b><input class="form-lastname" type="text" placeholder="Иванов" title="Максимум 30 символов" /><br>
        <b>Имя: </b><input class="form-firstname" type="text" placeholder="Иван" title="Максимум 30 символов" /><br>
        <b>Отчество: </b><input class="form-middlename" type="text" placeholder="Иванович" title="Максимум 30 символов" />
    </div>
    <div class="birthblock">
        <b>Дата рождения: </b>
        <input class="form-birthdate" type="date" placeholder="Дата рождения" title="Не менее 18 лет"/> <br>
    </div>

    <b>Изображение: </b>
    <input type="file" accept=".png, .jpg, .jpeg, .bmp">
    <div class="ajax-reply"></div> <br>

    <b>Сумма займа: </b>
    <input class="form-loansum" type="number" placeholder="Сумма займа" title="От 1 000 до 10 000 руб." /> <br> <br>

    <div class="templatebox">
        <b>Выберите шаблон: </b>
        <div id="templatesBlock"></div>
    </div>

    <div class="folderbox">
        <b>Выберите папку: </b>
        <div id="foldersBlock"></div>
    </div> <br>
    <button id="sentdData">Отправить</button>
    <button id="loadDoc">Скачать</button>
    <button id="printDoc">Распечатать</button>

</body>

<script type="text/javascript">
    $(document).ready(function () {
        console.info("sterted");
        $.ajax({
            url: '/api/forms',
            type: 'GET',
            dataType: 'json',
            success: function (responsedList) {
                console.log(responsedList[0]);
                console.log(responsedList[1]);
                ShowTemplates(responsedList[0]);
                ShowFolders(responsedList[1]);
            }
        });

        $("#sentdData").click(function (event) {
            event.preventDefault();
            var client = {
                LastName: $(".form-lastname").val(),
                FirstName: $(".form-firstname").val(),
                MiddleName: $(".form-middlename").val(),
                BirthDate: $(".form-birthdate").val().substring(8, 10) + "." + $(".form-birthdate").val().substring(5, 7) + "." + $(".form-birthdate").val().slice(0, -6),
                LoanSum: parseInt($(".form-loansum").val(), 10),
                Image: "Here must to be photo",
                TemplateNum: parseInt($(".form-templatenum").val(), 10),
                FolderNum: parseInt($(".form-foldernum").val(), 10)
            };
            console.log(client);

            if (CheckDatas(client.LastName, client.FirstName, client.MiddleName, client.BirthDate, client.LoanSum))
                $.ajax({
                    url: '/api/Forms',
                    type: 'POST',
                    data: JSON.stringify(client),
                    contentType: "application/json;charset=utf-8",
                    success: function (data) {
                        console.log("Ответ от сервера:" + data);
                    },
                    error: function (data) {
                        console.log("Проблемы с сетью!" + data);
                    }
                });
            else alert("Проверьте правильность введённых данных");
        });
    });

    function ShowTemplates(templatesList) {
        var strTemplate = "<select class=\"form-templatenum\">";

        $.each(templatesList, function (index, template) {
            strTemplate += "<option value=\"" + index + "\">" + template.slice(template.lastIndexOf('\\') + 1) + "</option> ";
        });
        strTemplate += "</select>";
        $("#templatesBlock").html(strTemplate);
    }

    function ShowFolders(foldersList) {
        var strFolder = "<select class=\"form-foldernum\">";

        $.each(foldersList, function (index, folder) {
            strFolder += "<option value=\"" + index + "\">" + folder.slice(folder.lastIndexOf('\\')) + "</option> ";
        });
        strFolder += "</select>";
        $("#foldersBlock").html(strFolder);
    }

    function CheckDatas(lastname, firstname, middlename, birthdate, loansum) {
        checker = true;
        var date = new Date();
        age = date.getFullYear() - parseInt(birthdate.slice(birthdate.lastIndexOf('.') + 1), 10);
        if (!/^[А-Я]{1}[а-я]{1,29}$/.test(lastname)) {
            $(".form-lastname").css("background-color", "#ffe1e8");
            checker = false;
        } else $(".form-lastname").css("background-color", "white");

        if (!/^[А-Я]{1}[а-я]{1,29}$/.test(firstname)) {
            $(".form-firstname").css("background-color", "#ffe1e8");
            checker = false;
        } else $(".form-firstname").css("background-color", "white");
            
        if (!/^[А-Я]{1}[а-я]{1,29}$/.test(middlename)) {
            $(".form-middlename").css("background-color", "#ffe1e8");
            checker = false;
        } else $(".form-middlename").css("background-color", "white");

        if (age < 18 | isNaN(parseInt(birthdate.slice(birthdate.lastIndexOf('.') + 1), 10))) {
            $(".form-birthdate").css("background-color", "#ffe1e8");
            checker = false;
        } else $(".form-birthdate").css("background-color", "white");
            
        if (loansum > 10000 | 1000 > loansum | isNaN(loansum)) {
            $(".form-loansum").css("background-color", "#ffe1e8");
            checker = false;
        } else $(".form-loansum").css("background-color", "white");

        return checker;
    }


</script>