
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<h2>Заполнение шаблона документа</h2>
<body>
    <input class="form-lastname" type="text" placeholder="Фамилия" />
    <input class="form-firstname" type="text" placeholder="Имя" />
    <input class="form-middlename" type="text" placeholder="Отчество" />
    <input class="form-birthdate" type="date" placeholder="Дата рождения" /> <br>
    <input class="form-loansum" type="number" placeholder="Сумма займа" /> <br>

    <div id="templatesBlock"></div> <br>
    <div id="foldersBlock"></div> <br>

    <button id="sentdData">Отправить</button>

</body>

<script type="text/javascript">
    $(document).ready(function () {
        console.info("sterted");
        $.ajax({
            url: '/api/forms',
            type: 'GET',
            dataType: 'json',
            success: function (responsedList) {
                console.log(responsedList[0]);
                console.log(responsedList[1]);
                ShowTemplates(responsedList[0]);
                ShowFolders(responsedList[1]);
            }
        });

        $("#sentdData").click(function (event) {
            event.preventDefault();
            var client = {
                LastName: $(".form-lastname").val(),
                FirstName: $(".form-firstname").val(),
                MiddleName: $(".form-middlename").val(),
                BirthDate: $(".form-birthdate").val().substring(8, 10) + "." + $(".form-birthdate").val().substring(5, 7) + "." + $(".form-birthdate").val().slice(0, -6),
                LoanSum: parseInt($(".form-loansum").val(), 10),
                Image: "Here must to be photo",
                TemplateNum: parseInt($(".form-templatenum").val(), 10),
                FolderNum: parseInt($(".form-foldernum").val(), 10)
            };
            console.log(client);

            $.ajax({
                url: '/api/Forms',
                type: 'POST',
                data: JSON.stringify(client),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    console.log("Ответ от сервера:" + data);
                },
                error: function (data) {
                    console.log("Проблемы с сетью!" + data);
                }
            });
        });
    });

    function ShowTemplates(templatesList) {
        var strTemplate = "<select class=\"form-templatenum\">";
        
        $.each(templatesList, function (index, template) {
            strTemplate += "<option value=\"" + index + "\">" + template.slice(template.lastIndexOf('\\') + 1) + "</option> ";
        });
        strTemplate += "</select>";
        $("#templatesBlock").html(strTemplate);
    }

    function ShowFolders(foldersList) {
        var strFolder = "<select class=\"form-foldernum\">";

        $.each(foldersList, function (index, folder) {
            strFolder += "<option value=\"" + index + "\">" + folder.slice(folder.lastIndexOf('\\')) + "</option> ";
        });
        strFolder += "</select>";
        $("#foldersBlock").html(strFolder);
    }
</script>